main {
    background-color: #000;
    height: auto;
}

.mySwiper {
    width: 100%;
    height: auto;
}

.blockFilm {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    height: 450px;
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}