nav {
    background-color: rgb(34, 31, 31);
    font-size: 2em;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

}

.sidebar {
    position: absolute;
    width: 450px;
    height: 100%;
    background-color: rgb(34, 31, 31);
    z-index: 100;
    left: -100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 80px;
    transition: left 0.5s ease-in-out;
}

.sidebar.active {
    left: 0;
}

nav>div:first-child {
    height: 100%;
    display: flex;


    gap: 20px;

}



nav>div:first-child img {
    width: 60px;
    height: 100%;
    margin-left: 5px;

}


.ham-menu {
    height: 100%;
    width: 60px;
    position: relative;
    cursor: pointer;

    z-index: 101;

    transition: 1 ease;

}

.ham-menu span {
    height: 4px;
    width: 70%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;

}

.ham-menu span:nth-child(1) {
    top: 25%;


}

.ham-menu span:nth-child(3) {
    top: 75%;

}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



.logo {
    width: 104px;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;

}

.logo img {
    width: 90% !important;
    cursor: pointer;

}


nav>div:nth-child(2) {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.imaxBlock {
    height: 50%;



}

.imaxBlock img {
    height: 100%;
}



nav>div:nth-child(2)>div:nth-child(2) {
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    border-left: 2px solid gray;
    padding-left: 15px;



    display: flex;
    height: 70%;
    align-items: center;
}

nav>div:nth-child(2) span {


    transform: rotate(90deg);
    background-color: gray;
    border-radius: 50%;
    height: 30px;
    width: 34px;



}

.strelka {
    width: auto;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    width: 30px;
    justify-content: center;
}

.strelka img {
    padding-top: 3px;




    width: 26px;
    height: 20px;
}

.strelka:hover {
    background-color: rgb(137, 137, 137);
    transition: 0.5s;
}

.profileLogin {
    border-left: 2px solid gray;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;


}

.profileLogin a {
    color: white;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: bold;
}

.profileIcon {
    width: auto;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    width: 35px;
    height: 35px;
    justify-content: center;
    margin-right: 20px;

}

.profileIcon img {
    width: 20px;
    height: 20px;
}

.profileIcon:hover {
    background-color: red;
    transition: 0.5s;


}