/* index.css або Main.css (глобально) */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  /* Прибираємо старі обмеження */
  max-width: 100%;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}