nav {
    background-color: rgb(34, 31, 31);
    font-size: 2em;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>div:first-child {
    border: 1px solid white;
    height: 100%;
    display: flex;

    gap: 20px;

}

nav>div:first-child img {
    width: 60px;
    height: 100%;
    border: 1px solid white;
    margin-left: 5px;


}

.logo {
    border: 1px solid white;
    width: 104px;
    height: 100%;
    border-radius: 25px;
}

nav>div:nth-child(2) {
    border: 1px solid white;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.imaxBlock {
    border: 1px solid white;
    height: 70%;



}

.imaxBlock img {
    height: 100%;
}



nav>div:nth-child(2)>div:nth-child(2) {
    color: white;
    font-weight: bold;
}

nav>div:nth-child(2) span {
    border: 1px solid white;


    background-color: gray;
    border-radius: 50%;
    height: 30px;
    width: 34px;



}