nav {
    background-color: rgb(34, 31, 31);
    font-size: 2em;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

nav>div:first-child {
    height: 100%;
    display: flex;

    gap: 20px;

}

nav>div:first-child img {
    width: 60px;
    height: 100%;
    margin-left: 5px;


}

.logo {
    border: 1px solid white;
    width: 104px;
    height: 100%;
    border-radius: 25px;
}



nav>div:nth-child(2) {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.imaxBlock {
    height: 50%;



}

.imaxBlock img {
    height: 100%;
}



nav>div:nth-child(2)>div:nth-child(2) {
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    border-left: 2px solid gray;
    padding-left: 15px;



    display: flex;
    height: 70%;
    align-items: center;
}

nav>div:nth-child(2) span {


    transform: rotate(90deg);
    background-color: gray;
    border-radius: 50%;
    height: 30px;
    width: 34px;



}

.strelka {
    width: auto;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    width: 30px;
    justify-content: center;
}

.strelka img {
    padding-top: 3px;




    width: 26px;
    height: 20px;
}

.strelka:hover {
    background-color: rgb(137, 137, 137);
    transition: 0.5s;
}

.profileLogin {
    border-left: 2px solid gray;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;


}

.profileLogin a {
    color: white;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: bold;
}

.profileIcon {
    width: auto;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    width: 35px;
    height: 35px;
    justify-content: center;
    margin-right: 20px;

}

.profileIcon img {
    width: 20px;
    height: 20px;
}

.profileIcon:hover {
    background-color: red;
    transition: 0.5s;


}